ScaffR/WidgetApp/MvcApplication141/Models/Schemas/manifest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="modules"
    targetNamespace="http://tempuri.org/manifest.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/manifest.xsd"
    xmlns:mstns="http://tempuri.org/manifest.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>


  <xs:element name="Manifest">
    <xs:complexType >
      <xs:sequence>
        <xs:element name="Name" type="xs:string"/>
        <xs:element name="Id" type="xs:string"/>
        <xs:element name="Template" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>



</xs:schema>